<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <nav>
        <a href="/home">Inicio</a>
    </nav>
    <div class="login-container">
        <div class="wrapper">
            <form th:action="@{/login}" method="post">
                <div class="d-flex justify-content-center text-center" th:if="${param.error}">
                    <p class="bg-danger p-2 text-white rounded-3" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">
                    </p>
                </div>

                <div th:if="${register}">
                    <p th:text="${register}"></p>
                </div>

                <h1>Login</h1>
                <div class="input-box">

                    <input type="email" placeholder="Email" id="email" name="email" autofocus th:value="${email}"
                           requerid>
                    <i class='bx bxl-gmail'></i>
                </div>
                <div class="input-box">
                    <input type="password"
                           placeholder="Password" id="password" name="password"
                           required>
                    <i class='bx bx-lock'></i>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Recuerdame</label>

                </div>
                <button type="submit" id="button" value="Acceder">Login</button>
                <div class="register-link">
                    <p>Aún no tienes cuenta? <a th:href="@{/register}">Registrate</a></p>

                </div>
            </form>
        </div>
    </div>
</body>
</html>
