* {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url('/img/AdobeStock_614864168.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(15, 64, 96);
	padding: 20px;
	color: white;
	box-shadow: 0 5px 20px rgb(0, 0, 0);
	margin-bottom: 6%;
}

h1 {
	text-align: center;
	font-size: 2rem;
}


nav a {
	font-size: 1.5em;
	list-style: none;
	color: white;
	text-decoration: none;
	font-weight: 600;
	transition: 0.3s;
}

nav a:hover {
	color: #326ecd;
	font-weight: bold;
}

.company {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	gap: 20px;

	font-size: 20px;
	font-weight: 500;

	box-shadow: 5px 8px 5px rgb(0, 0, 0);
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 12px;
	transition: 0.3s;
	background-color: #9f9f9f45;
	backdrop-filter: blur(10px);
	color: azure;
}

.company img {
	box-shadow: 3px 6px rgb(50, 48, 48, 0.7);
	border-radius: 50px;
	width: 150px;
	height: 150px;
	transition: 0.3s;
}

.company:hover {
	box-shadow: 5px 10px rgb(50, 48, 48, 0.7);
	border: 2px solid black;
	font-weight: bolder;
}

.company:hover img {
	box-shadow: 5px 8px 5px rgb(0, 0, 0);
}


/*POPUP STYLES*/
.popup-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 100px;
	display: block;
}

#popup{
	justify-content: center;
	flex-direction: row;
	display: none;
}

.popup {
	width: 500px;
	display: none;
	opacity: 0;
	transform: scale(0);
	background-color: white;
	padding: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	z-index: 1;
	transition: .6s ease opacity,.6s ease transform;
	border-radius: 20px;
}

.popup-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.img-container{
	width: 100%;
	max-height: 200px;
	background-color: black;
	display: flex;
	justify-content: center;
}

.popup img {
	max-height: 200px;
	object-fit: cover;
}

.company-info {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding-left: 10px;
}

.company-info h2{
	margin-bottom: 16px;
}

.company-info p, .company-info h4{
	margin-top: 0;
	margin-bottom: 16px;
}

button {
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
}

button:hover {
	background-color: #0056b3;
}

@media (max-height: 600px) {
	.popup {
		max-height: 90%; /* Adjust the max height as needed */
		overflow-y: auto; /* Add a scrollbar if content overflows */
	}

	.popup-content {
		overflow-y: auto; /* Add a scrollbar if content overflows */
	}
}