* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url('/images/AdobeStock_614864168.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(15, 64, 96);
	padding: 20px;
	color: white;
	box-shadow: 0 5px 20px rgb(0, 0, 0);
	margin-bottom: 6%;
}

h1 {
	text-align: center;
	margin-left: 38%;
	font-size: 2rem;
}


nav a {
	font-size: 1.5em;
	list-style: none;
	color: white;
	text-decoration: none;
	font-weight: 600;
	transition: 0.3s;
}

nav a:hover {
	color: #326ecd;
	font-weight: bold;
}

.company {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	gap: 20px;

	font-size: 15px;
	font-weight: 400;

	box-shadow: 5px 8px 5px rgb(0, 0, 0);
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 12px;
	transition: 0.3s;
	background-color: #9f9f9f45;
	backdrop-filter: blur(10px);
	color: azure;
}

.company img {
	box-shadow: 3px 6px rgb(50, 48, 48, 0.7);
	border-radius: 50px;
	width: 150px;
	height: 150px;
	transition: 0.3s;
}

.company:hover {
	box-shadow: 5px 10px rgb(50, 48, 48, 0.7);
	border: 2px solid black;
	font-weight: bolder;
}

.company:hover img {
	box-shadow: 5px 8px 5px rgb(0, 0, 0);
	/*border: 2px solid black;*/
}