@charset "ISO-8859-1";
*{
	margin: 0;
	padding:0;
}

body{
	background:#078184;
}

nav{
	width: 100%;
	background: black;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

body {

	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;

	font-size: 22px;
	font-weight: 400;

	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px 0;
}

.form-logout{
	background: none;
	border: none;
	text-decoration: underline;
	cursor: pointer;
}

nav a, .form-logout {
	text-decoration: none;
	color: white;
	transition: 0.4s;
}

nav a:hover {
	color: #000000;
}

.form-logout:hover{
	color: #000000;
}

.main-container {
	width: 58%;
	margin: 8% auto;
	padding: 18px;
	border-radius: 8px;
	background: #e6e6e62e;
	backdrop-filter: blur(10px);
	box-shadow: 0 0 16px 1px black;
}

h1 {
	font-weight: 400;
}

#tag-input {
	resize: none;
}

.tags-checks {
	display: flex;
	align-items: center;
	padding: 0 7px;
	border-radius: 8px;
	background-color: black;
	color: white;
	font-size: 20px;
}

.custom-checkbox {
	display: none;
}

#description {
	resize: none;
}

label {
	font-size: 18px;
	margin-bottom: 6px;
}

.normal {
	display: flex;
	flex-direction: column;
}

.normal input,
textarea {
	border-radius: 12px;
	padding: 1px 5px;
	background-color: rgba(0, 0, 0, 0.31);
}


.btnSubmit {
	cursor: pointer;
	font-weight: 600;
	width: 25%;
	color: #282726;
	background-color: #fff;
	border: none;
	border-radius: 1.5rem;
	padding: 1%;
	font-size: 17px;
}