body {
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: center;
	font-family: Arial, sans-serif;
}

/* Estilos de navegación */
nav {
	background-color: #1c2f4f;
	padding: 10px 0;
	display: flex;
	justify-content: center;

	position: fixed;
	width: 100%;
}

nav a {
	justify-content: space-between;
}

ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

li {
	margin: 0 20px;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

/* Estilos de encabezado */
header {
	background-image: url("../images/AdobeStock_614864168.jpeg");
	background-size: cover;
	background-position: center;

	background-attachment: fixed;
	color: white;
	text-align: center;
	padding: 100px 0;
}

header .titulos {
	margin-top: 5%;
}

header h6 {
	font-size: 20px;
	font-weight: bolder;
	text-shadow: 1px 5px 12px rgb(0, 0, 0);
}

h1 {
	font-size: 70px;
	letter-spacing: 10px;
	margin-bottom: 20px;
	font-weight: bolder;
	text-shadow: 1px 5px 12px rgb(0, 0, 0);
}

h2 {
	font-size: 24px;
}

.info {
	padding: 3%;
}

/* Estilos de segundo título */
.otro-h2 {
	width: 100%;
	color: #1c2f4f;
	font-size: 1.9em;
	font-weight: 400;
	text-align: center;
	margin-top: 40px;
}

/* Estilos de párrafo */
.nuevo-div {
	width: 100%;
	color: #00599A;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	margin: 20px auto;
}

.parrafo {
	font-size: 1.4em;
	margin: 0;
	padding: 10px;
}

/* Estilos de sección de párrafo */
.sectionParrafo {
	margin-top: 2%;
}

/* Estilos de sección de destacados */
.destacados {
	width: 100%;
	font-weight: 400;
	text-align: center;
	margin-top: 3%;
}

#top3 {
	font-size: 30px;
	color: #f0f0f0;
	/*padding-top: 10px;*/
}

.wrappDestacados {
	background-color: #225C85;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Estilos de fondo morado */
.fondo-morado {
	margin: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 100px;
}

/* Estilos de carta dentro de fondo morado */
.fondo-morado .carta {
	margin: 10px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	padding: 15px;
	text-align: center;
	box-shadow: 0 1px 10px 0 rgb(128, 128, 128);
}

.fondo-morado .carta img {
	max-width: 100%;
	height: 188px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.fondo-morado .carta p {
	margin-top: 10px;
	font-size: 19px;
	color: rgb(40, 68, 115);
}

.about-us {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	background-color: #f0f0f0;
}

.about-content {
	flex: 1;
	text-align: center;
	/*	margin-left: 10%;*/
	/* Separación del borde izquierdo */
}

.about-content h2 {
	color: #00599A;
	/* Color azul para el título */
}

.about-content p {
	color: #000;
	/* Color negro para el texto */
	width: 800px;
	margin-left: 28%;
}

.about-image img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}

.contact-form {
	flex: 1;
	padding: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-right: 20px;
	height: 440px;
	width: 40%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
}

.contact-form h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 20px;
}

.form-group label {
	display: block;
	font-weight: bold;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button[type="submit"] {
	background-color: #00599A;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

button[type="submit"]:hover {
	background-color: #003d6b;
}

.patrocinadores {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.patrocinadores img {
	max-width: 100px;
	margin: 10px;
}


footer {
	background-color: #f0f0f0;
	padding: 20px 0;
}

.footer {
	color: #000;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.col-md-3 {
	flex: 0 0 calc(25% - 20px);
	margin-right: 20px;
}

.col-md-3:last-child {
	margin-right: 0;
}

.social_icon {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

.social_icon li {
	margin-right: 20px;
}

.social_icon a {
	color: #000;
	font-size: 20px;
	text-decoration: none;
}

.variat {
	font-size: 16px;
	margin-bottom: 20px;
}

h3 {
	font-size: 24px;
	margin-bottom: 20px;
}

.link_menu {
	list-style: none;
	padding: 0;
}

.link_menu li {
	margin-bottom: 10px;
}

.link_menu a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
}

.bottom_form {
	display: flex;
	align-items: center;
}

.enter {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-right: 10px;
	font-size: 16px;
}

.sub_btn {
	background-color: #00599A;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.sub_btn:hover {
	background-color: #003d6b;
}