/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

/* Estilos de navegación */
nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Estilos de encabezado */
header {
    background-image: url("../images/home_bg.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px 0;
}

header h6{
    font-weight: bolder;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bolder;
}

h2 {
    font-size: 24px;
}

/* Estilos de cartas */
.cartas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.8);
}

.carta {
    flex: 0 0 calc(20% - 10px);
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Estilos de segundo título */
.otro-h2 {
    width: 100%;
    color: #225C85;
    font-family: Lexend;
    font-size: 1.6em;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

/* Estilos de párrafo */
.nuevo-div {
    width: 100%;
    color: #00599A;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin: 20px auto;
}

.parrafo {
    font-size: 1.5em;
    margin: 0;
    padding: 10px;
}

/* Estilos de sección de párrafo */
.sectionParrafo {
    margin-top: 2%;
}

/* Estilos de sección de destacados */
.Destacados {
    width: 100%;
    color: #225C85;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 20px auto;
}

/* Estilos de fondo morado */
.fondo-morado {
    margin: 20px;
    background-color: #ccccff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Estilos de carta dentro de fondo morado */
.fondo-morado .carta {
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.fondo-morado .carta img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.fondo-morado .carta p {
    margin-top: 10px;
    font-size: 16px;
}

.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f0f0f0;
}

.about-content {
    flex: 1;
    text-align: center;
    margin-left: 7cm; /* Separación del borde izquierdo */
}

.about-content h2 {
    color: #00599A; /* Color azul para el título */
}

.about-content p {
    color: #000; /* Color negro para el texto */
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilos del formulario de contacto */
/* Estilos para la sección de contacto */
.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Estilos para el formulario de contacto */
.contact-form {
    flex: 1;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 20px; /* Espacio entre el formulario y los patrocinadores */
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #00599A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #003d6b;
}

/* Estilos para el espacio de los patrocinadores */
.patrocinadores {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.patrocinadores img {
    max-width: 100px; /* Ajusta el tamaño de las imágenes de los patrocinadores según tus necesidades */
    margin: 10px;
}

/* Estilos del footer */


footer {
    background-color: #f0f0f0;
    padding: 40px 0;
}

.footer {
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-3 {
    flex: 0 0 calc(25% - 20px);
    margin-right: 20px;
}

.col-md-3:last-child {
    margin-right: 0;
}

.social_icon {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social_icon li {
    margin-right: 20px;
}

.social_icon a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.variat {
    font-size: 16px;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.link_menu {
    list-style: none;
    padding: 0;
}

.link_menu li {
    margin-bottom: 10px;
}

.link_menu a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.bottom_form {
    display: flex;
    align-items: center;
}

.enter {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.sub_btn {
    background-color: #00599A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sub_btn:hover {
    background-color: #003d6b;
}

