body {
    margin: 0;
    padding: 0;
    /*background-image: url('tu-imagen-de-fondo.jpg');*/
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header {
    text-align: center;
    color: white;
    margin-top: 150px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
}
/* ... Estilos anteriores ... */

.cartas {
    position: absolute;
    width: 1265.35px;
    height: 255.36px;
    top: 533.89px;
    left: 319px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

.carta {
    width: calc(20% - 10px);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.otro-h2 {
    width: 550px;
    height: 72px;
    flex-shrink: 0;
    color: #225C85;
    font-family: Lexend;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px; /* Espacio entre el segundo h2 y las cartas */
}
.nuevo-div {
    width: 1551px;
    height: 282px;
    flex-shrink: 0;
    color: #00599A;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px auto; /* Centrar el nuevo div horizontalmente con margen */
}

.parrafo {
    margin: 0;
    padding: 10px;
}
