
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/styles.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Acerca de</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Portafolio</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
</nav>
<header>
    <h2 class="subtitulo">Subtítulo</h2>
    <h1>Título Principal</h1>
</header>
<div class="cartas">
    <div class="carta">Carta 1</div>
    <div class="carta">Carta 2</div>
    <div class="carta">Carta 3</div>
    <div class="carta">Carta 4</div>
    <div class="carta">Carta 5</div>
</div>
<div>
    <h2 class="otro-h2">Segundo título</h2>
</div>
<section class=" sectionParrafo">
    <div class="nuevo-div">
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic repellendus labore deserunt doloribus et iure ullam. Accusantium, id. Dignissimos exercitationem ea repudiandae sunt itaq
            ue quod doloribus molestiae quae alias corporis?</p>
    </div>
</section>
<section class="Destacados">
    <div>
        <h2>Reporte destacado</h2>
    </div>
</section>
<section class="fondo-morado">
    <div class="carta">
        <img src="/imagenes/818x460_240340_20170523160646.jpg" alt="Imagen 1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae neque ullam officiis maxime incidunt cupiditate nostrum excepturi corporis ipsam beatae? Impedit, quae! Dolor soluta ipsa illo corporis modi error quas?</p>
    </div>
    <div class="carta">
        <img src="/imagenes/20200226105543_1.jpg" alt="Imagen 2">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, nulla quibusdam distinctio, possimus adipisci atque perspiciatis, quod similique animi ab dolor. Fugit molestiae quibusdam ipsa ut neque, dolore est minima!</p>
    </div>
    <div class="carta">
        <img src="/imagenes/D5HPPW5JIZEWVPDPVTZTA4SVCU.webp" alt="Imagen 3">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, in! Fugiat voluptate quibusdam, repellendus accusamus magnam, consequatur eaque laudantium doloribus maxime atque delectus minus debitis harum! Sit harum in vel.</p>
    </div>
</section>
</body>
</html>
